<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pix.ly</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">


  <link rel="shortcut icon" href="/static/pencil.png">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-primary h-25" data-bs-theme="dark">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">
        <img src="/static/pencil.png" alt="logo">
        <span>Pix.ly</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-nav navbar-right" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/images"> Gallery
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/upload">Upload</a>
          </li>
        </ul>

        {% block searchbox %}
        <form class="navbar-form navbar-end" action="/images">
          <input name="q" class="form-control bg-default" placeholder="Search Pix.ly" aria-label="Search" id="search">
          <button class="btn btn-default">
            <span class="bi bi-search"></span>
          </button>
        </form>
        {% endblock %}
      </div>
    </div>
  </nav>
  <div class="base-container">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>