{% extends 'base.html' %}
{% block content %}

<div class="container text-center">
  <div class="row align-items-end">
    {%if search == "" %}
    <h2 class="col-sm-2 text-start"></h2>

    <h2 class="col-sm-10 text-start">All Images</h2>
    {% else %}
    <h2 class="col-sm-2 text-start"></h2>
    <h2 class=" col-sm-10 text-start">Results for {{search}}:</h2>
    {% endif %}
  </div>
  <div>
    {%if photos==[] %}
    <span>No photos found</span>
    {% else %}
    <div class=" row">
      <div class="col-sm-2">
        <form method="POST" class="Filter Fields">
          {{ form.hidden_tag() }} <!--add type=hidden form fields -->

          {% for field in form
          if field.widget.input_type != 'hidden' %}

          <div class="text-start">
            <b> {{ field.label }} </b>
            {% for subfield in field%}
            <div>
              {{ subfield }}
              {{ subfield.label}}

              {% for error in field.errors %}
              {{ error }}
              {% endfor %}</div>

            {% endfor %}
          </div>
          {% endfor %}

          <button class="btn btn-secondary btn-sm float-start">Search!</button>
        </form>
      </div>

      <div class="col-sm-10">
        <div class="row">
          {% for photo in photos %}
          <div class="col-2"> <a href="/images/{{photo.id}}"> <img class="gallery-image img-thumbnail"
                src="https://pixly-cait.s3.us-east-2.amazonaws.com/{{photo.id}}">
            </a></div>
          {% endfor %}
        </div>
      </div>

    </div>
    {% endif %}
  </div>
</div>
{% endblock %}