{% extends 'base.html' %}
{% block content %}
<div class="image-page container">
  <h2>{{photo.title}}</h2>
  <h3>{{photo.caption}}</h3>
  <img class="image-page-image" src="https://pixly-cait.s3.us-east-2.amazonaws.com/{{photo.id}}">
  <div>By: {{photo.by}}</div>


  {% for argument in arguments %}
  <form method="POST" action="/images/{{photo.id}}/edit/{{argument}}">
    {{ g.csrf_form.hidden_tag() }}
    <button class="btn btn-primary" type="submit"> {{argument.capitalize()}} </button>
  </form>

  {% endfor %}
  <form method="POST" action="/images/{{photo.id}}/revert">
    {{ g.csrf_form.hidden_tag() }}
    <button class="btn btn-warning" type="submit"> Revert </button>
  </form>

  <form method="POST" action="/images/{{photo.id}}/delete">
    {{ g.csrf_form.hidden_tag() }}
    <button class="btn btn-danger" type="submit"> Delete </button>
  </form>

</div>
{% endblock %}